<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type="text/css" href="../css/chat.css">
        <title>1:1 Chat Tester 01</title>
    </head>
    <body>
        <h1>채팅 01</h1>
        <div>
            <div id='chatBox'>채팅기록 쌓이는 곳</div>
            <input type="text" id='chatInput' name='chatText'>
            <button id='sendBtn'>전송</button>
        </div>
    </body>
    <script type='text/javascript' src="http://localhost:1004/socket.io/socket.io.js"> </script> 
    <script type='module' src="../js/chat.js"></script>
</html>